<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--   Student bean Configuration-->
    <bean name="student" class="com.spring.Student">
        <property name="sid" value="101"/>
        <property name="sname" value="Monu KD"/>
        <property name="scourse" value="AIDS"/>
    </bean>
</beans>